<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <remove name="Swill"/>
    <add name="Swill" connectionString="Data Source=InternDb1;Initial Catalog=SWILL-Prod;User ID=swill-prod;Password=Jellyfish123;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <log4net>
    <appender name="RollingFileAppenderAll" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Websites\SWILL\Logs\SWILL-Prod-" xdt:Transform="Replace" />
    </appender>
  </log4net>
</configuration>