<h2>DinerCollectionView</h2>

<div>
    <div class="row" data-ng-controller="collectionController">
        <div class="col-md-6">
            <h4>{{dish.name}}</h4>
            <strong>{{dish.description}}</strong>
            <ul>
                <li data-ng-repeat="order in dish.orders"></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Service</h4>
        </div>
    </div>
</div>
